<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>import_contacts</mat-icon>
  </button>
  <span>Bookstore</span>
  <span class="example-spacer"></span>

 
  <button routerLink="/user-login" class="btn btn-danger mx-2">Log out</button>
  
</mat-toolbar>
<br> <br>

<h1 style="text-align: center;"> Welcome To Book Library</h1>


<br> <br>

<ng-container *ngIf="Books.length===0">
  <div class="column col-12 text-center pt-10 pb-10">
    <h1 class="">No Issue Books</h1>
  </div>
</ng-container>

<div  style="display:inline-block; margin-left: 40px;" *ngFor="let Book of Books">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title  style="text-align: center;">{{Book.booklist}}</mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src=" https://source.unsplash.com/400*200" alt="Photo ">
    <mat-card-content>
      <p>
        {{Book.description}}
      </p>
    </mat-card-content>
    <mat-card-actions >
      <a class="btn btn-sm text-white btn-success vertical-center " [routerLink]="['/view-book/' + Book.id]">View  Book</a>
      
    </mat-card-actions>
    <mat-card-subtitle   >{{Book.bookprice}}</mat-card-subtitle>
      </mat-card>

</div>